{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}Langues{% endblock contentTitle %}

{% block breadcrumb %}{{ parent() }}<li><a href="{{ path("iimedias_admin_locale_index") }}"><i class="fa fa-globe" aria-hidden="true"></i><span class="hidden-xs"> Langues</span></a></li>{% endblock breadcrumb %}

{% block content %}
    {#<div class="btn-group pull-right">#}
        {#<a href="{{ path("iimedias_admin_menu_create") }}" class="btn btn-success"><span class="hidden-xs">Ajouter </span><i class="fa fa-plus" aria-hidden="true"></i></a>#}
    {#</div>#}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Drapeau</th>
                <th>¤</th>
            </tr>
        </thead>
        <tbody>
{% for locale in locales %}
            <tr>
                <td>{{ locale.id }}</td>
                <td>{{ locale.code }}</td>
                <td>{{ locale.name }}</td>
                <td><i class="i-32 i-32-{{ locale.flag }}"></i> <i class="i-16 i-16-{{ locale.flag }}"></i></td>
                <td>
                    <div class="btn-group pull-right">
                        {#<a href="{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}" class="btn btn-primary"><span class="hidden-xs">Voir </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>#}
                        {#<a href="{{ path("iimedias_admin_menu_edit", {menuId: menuGroup.id}) }}" class="btn btn-warning"><span class="hidden-xs">Editer </span><i class="fa fa-pencil" aria-hidden="true"></i></a>#}
                    </div>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <hr />
    <table id="translationsTable" class="table table-stripped">
        <thead>
            <tr>
                <th>Code</th>
{% for locale in locales %}
                <th>
                    <i class="i-16 i-16-{{ locale.flag }}"></i>
                    {{ locale.name }}
                </th>
{% endfor %}
            </tr>
            <tr>
                <td><input id="new-message" class="newTranslation" type="text" value="" placeholder="Nouveau message" /></td>
                {% for locale in locales %}
                    <td><input id="new-translation-{{ locale.code }}" class="newTranslation" type="text" value="" placeholder="{{ locale.name }}" /></td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
{% for messageData in messagesData %}
            <tr>
                <td>{{ messageData.code }}</td>
{% for translationData in messageData.translations %}
                <td class="editable" data-translation="{{ translationData.translation }}" data-id="{{ translationData.id }}" data-locale-id="{{ translationData.localeId }}" data-message-id="{{ messageData.id }}">
                    {{ translationData.translation }}
                </td>
{% endfor %}
            </tr>
{% endfor %}
        </tbody>
    </table>
    <style>
        #translationsTable td.sorting_asc::after {
            display: none;
        }
    </style>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#translationsTable").dataTable({
                    columns: [
                            {
                                orderable: false
                            },
{% for locale in locales %}
                            {
                                orderable: false
                            },
{% endfor %}
                    ]
            });
            $("#translationsTable tbody").on("click", "td.editable", function(e){
                    if ($(this).hasClass("current") || $(this).hasClass("disabled")) {
                        return false;
                    }
                    $(this).addClass("current").html('<input type="text" value="" />');
                    $("#translationsTable tbody input").focus().val($(this).data('translation')).data($(this).data());
            });
            $("#translationsTable tbody").on("blur", "td.editable.current input", function(e){
                    var oldTranslation    = $(this).parent().data('translation');
                    var newTranslation    = $(this).val();
                    var translationToSend = $(this).data();
                    translationToSend.translation = newTranslation;
                    $(this).parent().removeClass('current').data('translation', newTranslation).html(newTranslation);
                    if (newTranslation != oldTranslation) {
                        $(this).parent().addClass('disabled').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i> ' + newTranslation);
                        $.ajax({
                                data: translationToSend,
                                method: "post",
                                url: "{{ path("iimedias_admin_locale_save") }}"
                        })
                            .done(function(data, textStatus, jqXHR) {
                                    $(this).parent().data(data).removeClass('disabled').html(newTranslation);
                                    console.log($(this).parent().data());
                                    console.log(data);
                            });
                    }
            });
        });
    </script>
{% endblock scripts %}