<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ "admin.title" | trans({"%sitename%": app_name}) }}</title>
{% block styles %}
        {# Admin LTE css #}
        <link href="{{ asset("bower/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet" />
        <link href="{{ asset("bower/components-font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" />
        <link href="{{ asset("bower/Ionicons/css/ionicons.min.css") }}" rel="stylesheet" />
        <link href="{{ asset("bower/AdminLTE/dist/css/AdminLTE.min.css") }}" rel="stylesheet" />
        <link href="{{ asset("bower/AdminLTE/dist/css/skins/_all-skins.min.css") }}" rel="stylesheet" />
        {# Bibliothèques #}
        <link href="{{ asset("bower/datatables.net-bs/css/dataTables.bootstrap.min.css") }}" rel="stylesheet" />
        {#<link href="{{ asset("bower/jquery-ui/themes/base/theme.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/jquery-ui/themes/base/sortable.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/pnotify/dist/pnotify.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/pnotify/dist/pnotify.brighttheme.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/pnotify/dist/pnotify.buttons.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/pnotify/dist/pnotify.history.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/pnotify/dist/pnotify.mobile.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/fatcow-icons/icons-16px.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/fatcow-icons/icons-32px.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("bower/flag-icon-css/css/flag-icon.min.css") }}" rel="stylesheet" />#}
        {#<link href="{{ asset("css/admin.less.css") }}" rel="stylesheet" />#}
{% endblock styles %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition skin-blue sidebar-mini admin-color-{{ appconfig.adminColor }}">
        <div class="wrapper">
            <header class="main-header">
                {#<a href="{{ path("deltarm_admin_admin_index") }}" class="logo">
                    <span class="logo-mini"><b>ii</b>Adm</span>
                    <span class="logo-lg">{{ appconfig.name }}</span>
                </a>#}
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

{% if app.user is not null %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
{#
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
#}
{#
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
#}
{#
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>
#}
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                        <p>
                                            {{ app.user.username }} - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <li class="user-body">
{#
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
#}
                                    </li>
                                    <li class="user-footer">
{#
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
#}
                                        <div class="pull-right">
                                            <a href="{{ path("logout") }}" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
{#
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
#}
                        </ul>
                    </div>
{% endif %}
                </nav>
            </header>
{% if app.user is not null %}
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{{ app.user.username }}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <ul class="sidebar-menu">
                        <li class="header">Menu iiMedias</li>
{% if currentNav is not defined %}{% set currentNav = "dashboard" %}{% endif %}
{% for menuElement in appconfig.getMenuConfig('admin') %}
    {% if menuElement.canAccess(app.user) %}
                        <li>
                            <a href="{{ path(menuElement.routeName, menuElement.routeParams) }}"{% if currentNav == menuElement.code %} class="active"{% endif %}>
                                <i class="fa fa-{{ menuElement.iconFontAwesome }}"></i>
                                <span>{{ menuElement.message | trans }}</span>
                            </a>
                        </li>
    {% else %}
        <li>{{ menuElement.role }}</li>
    {% endif %}
{% endfor %}
                        {#<li class="header">MAIN NAVIGATION</li>#}
                        {#<li class="treeview">#}
                            {#<a href="#">#}
                                {#<i class="fa fa-dashboard"></i> <span>Dashboard</span>#}
                                {#<span class="pull-right-container">#}
                                    {#<span class="label label-primary pull-right">4</span>#}
                                    {#<i class="fa fa-angle-left pull-right"></i>#}
                                {#</span>#}
                            {#</a>#}
                            {#<ul class="treeview-menu">#}
                                {#<li><a href="../../index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>#}
                                {#<li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                    </ul>
                </section>
            </aside>
{% endif %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        {% block contentTitle %}Bonjour{% endblock contentTitle %}
                        <small>{% block contentSubTitle %}Sous-titre{% endblock contentSubTitle %}</small>
                    </h1>
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.breadcrumb.site" | trans }}</span></a></li>
                        <li><a href="{{ path("iimedias_admin_admin_index") }}"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.breadcrumb.administration" | trans }}</span></a></li>
                        {% endblock breadcrumb %}
                    </ol>
                </section>
                <section class="content">
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> {{ type | upper }}</h4>
                        {{ flash_message }}
                    </div>
    {% endfor %}
{% endfor %}
                    {% block content %}
                    <div class="callout callout-info">
                        <h4>Tip!</h4>
                        <p>
                            Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your sidebar
                            is bigger than your content because it prevents extra unwanted scrolling.
                        </p>
                    </div>
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Title</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien lectus, pulvinar in sapien ut, congue vehicula urna. In sed eros mi. Curabitur vestibulum molestie nisl a fringilla. In luctus ligula non nibh dictum, nec blandit nibh malesuada. Quisque ut ipsum ac quam placerat accumsan luctus at eros. Aliquam tincidunt augue sed neque sagittis tristique. Nullam at risus pulvinar dolor vestibulum gravida. Proin aliquet tellus eu imperdiet varius. Suspendisse pulvinar consequat justo. Nam bibendum ante ex, at faucibus lorem scelerisque id. Phasellus in pulvinar quam. Vivamus dapibus tincidunt lobortis.</p>
                            <p>Donec vel dictum elit, ac aliquam eros. Fusce volutpat purus vehicula, placerat est ac, varius ex. Proin vel iaculis eros, vel iaculis sapien. Aenean erat erat, malesuada eu vehicula at, lacinia sit amet nisl. Ut orci velit, mattis bibendum nunc sed, egestas maximus felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur euismod magna sed mattis porta. In facilisis, erat et dictum rutrum, odio elit blandit dui, sed pellentesque felis tellus eu purus.</p>
                            <p>Curabitur id dui sed arcu blandit sodales. Duis ornare sem a justo tristique sollicitudin. Proin tristique lorem dolor, ac viverra dui congue et. Duis ac erat lobortis, accumsan risus ac, lobortis turpis. Phasellus diam ex, lacinia in vestibulum eget, porttitor ut turpis. Proin iaculis est nec metus consequat aliquam nec eu arcu. Vestibulum lacus arcu, rutrum vitae erat placerat, aliquam vehicula turpis.</p>
                            <p>Ut ut auctor mi, non condimentum mauris. Donec id purus rutrum ligula posuere convallis. Quisque ultrices nulla vel ante efficitur, at interdum metus varius. In vel maximus lectus, vel sollicitudin quam. Nam eget sem ullamcorper, pellentesque risus at, efficitur urna. Nam dictum justo lectus, eu lobortis est interdum vel. Sed in dolor pulvinar, congue quam nec, pharetra risus. Integer a erat dui. Sed lorem erat, euismod nec vestibulum in, ornare sodales nibh. Morbi congue est eu urna volutpat, in vestibulum purus congue.</p>
                            <p>Donec dictum tellus id rhoncus placerat. Donec interdum ante lacinia mi viverra dignissim. Nulla vel dui lectus. Fusce aliquet felis arcu, sit amet congue ante fringilla ac. Donec luctus bibendum odio nec eleifend. Sed neque ligula, semper vitae augue ut, rutrum cursus ante. Vivamus sodales varius elit, at elementum ligula efficitur sed. Nam pellentesque leo sed nunc tincidunt vestibulum. Nullam volutpat erat a finibus suscipit. Etiam ac hendrerit mi. Donec quis urna a nibh rhoncus iaculis. Aliquam molestie augue vestibulum tellus auctor ultrices. Donec non tortor sit amet risus iaculis condimentum eget lobortis massa.</p>
                            <p>Donec lobortis mauris elementum tortor tincidunt, quis sagittis mi dapibus. Mauris eget tortor enim. Donec rutrum mattis neque, vel porta quam vulputate sed. Nulla ultrices venenatis lacinia. Sed lacinia nisl aliquam, efficitur ante ut, pretium magna. Vivamus pellentesque vestibulum urna quis sagittis. Phasellus sit amet mi laoreet, volutpat lacus a, malesuada libero. Phasellus tempus ante nunc, non sodales orci faucibus sit amet. Morbi ornare libero id sem auctor rutrum.</p>
                            <p>Suspendisse et viverra odio. Sed dapibus dapibus placerat. Aenean luctus porta sapien, in placerat justo consequat vel. Quisque aliquet dui non euismod fermentum. Morbi egestas metus et aliquet placerat. Etiam lacinia metus quis sem porttitor commodo. Maecenas quis nisi rutrum, cursus justo sed, faucibus tortor. Duis cursus condimentum sodales. Sed imperdiet, mauris vel dictum pharetra, nisl diam tincidunt orci, nec malesuada urna arcu a orci. In sit amet erat egestas, gravida erat et, tincidunt quam. Donec maximus justo quam, et luctus lacus dapibus ut. Suspendisse neque magna, tincidunt sed molestie ac, porta nec purus. Donec aliquet, sapien vitae euismod efficitur, odio nunc suscipit massa, sit amet pretium quam ipsum eget tellus. Pellentesque bibendum condimentum pellentesque. Donec molestie sollicitudin posuere. In bibendum aliquet mattis.</p>
                            <p>Aliquam ornare tempus aliquam. Vestibulum posuere nisi efficitur, rhoncus erat at, congue mauris. Morbi magna est, tristique id magna id, viverra tincidunt nibh. Nam in porta lacus. Integer eu consectetur quam, ac malesuada libero. Duis venenatis lorem at ligula hendrerit accumsan. Pellentesque sed venenatis dolor. Vestibulum rutrum ex ac risus interdum pulvinar.</p>
                            <p>Fusce mollis at nisi vel accumsan. Maecenas condimentum leo feugiat vestibulum vehicula. Vivamus vestibulum eu justo eu eleifend. Mauris sed felis quis justo volutpat mollis. Donec imperdiet mauris interdum, mollis orci id, auctor erat. Nunc cursus sagittis facilisis. Morbi ultricies odio leo, non tristique diam tempor vitae. Cras ac eleifend enim. In sed lacus scelerisque ante finibus convallis et vitae nisi. In hac habitasse platea dictumst. Duis egestas ex vel libero euismod tempus.</p>
                            <p>Donec sagittis, massa nec cursus scelerisque, lacus nulla condimentum sem, eu gravida eros erat in metus. Mauris dictum porta tincidunt. In id eleifend magna. Pellentesque tempor sed justo a feugiat. Nunc tincidunt ipsum sit amet nulla auctor, id varius purus luctus. Sed lobortis tellus neque, a interdum purus semper ornare. Nullam volutpat est nisl, eget porta justo sagittis et. Suspendisse dictum ligula vitae bibendum sollicitudin. Etiam non eros hendrerit, tristique massa eu, interdum ex. In iaculis efficitur est vitae tempor. Cras mattis lacinia nunc, vel rhoncus sapien.</p>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            Footer
                        </div>
                        <!-- /.box-footer-->
                    </div>
                    {% endblock content %}
                    <!-- /.box -->
                </section>
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.8
                </div>
                <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
                reserved.
            </footer>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading">Recent Activity</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                        <p>Will be 23 on April 24th</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-user bg-yellow"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                        <p>New phone +1(800)555-1234</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                        <p>nora@example.com</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                        <p>Execution time 5 seconds</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                        <h3 class="control-sidebar-heading">Tasks Progress</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Custom Template Design
                                        <span class="label label-danger pull-right">70%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Update Resume
                                        <span class="label label-success pull-right">95%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Laravel Integration
                                        <span class="label label-warning pull-right">50%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        Back End Framework
                                        <span class="label label-primary pull-right">68%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">General Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Report panel usage
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Some information about this general settings option
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Allow mail redirect
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Other sets of options are available
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Expose author name in posts
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Allow the user to show his name in blog posts
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <h3 class="control-sidebar-heading">Chat Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Show me as online
                                    <input type="checkbox" class="pull-right" checked>
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Turn off notifications
                                    <input type="checkbox" class="pull-right">
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Delete chat history
                                    <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                </label>
                            </div>
                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>
            <div class="control-sidebar-bg"></div>
        </div>
{% block scripts %}
        {# Admin LTE js #}
        <script src="{{ asset("bower/jquery/dist/jquery.min.js") }}"></script>
        <script src="{{ asset("bower/bootstrap/dist/js/bootstrap.min.js") }}"></script>
        <script src="{{ asset("bower/jquery-slimscroll/jquery.slimscroll.min.js") }}"></script>
        <script src="{{ asset("bower/fastclick/lib/fastclick.js") }}"></script>
        <script src="{{ asset("bower/AdminLTE/dist/js/app.min.js") }}"></script>
        {# Bibliothèques #}
        <script src="{{ asset("bower/datatables.net/js/jquery.dataTables.min.js") }}"></script>
        <script src="{{ asset("bower/datatables.net-bs/js/dataTables.bootstrap.min.js") }}"></script>
        <script src="{{ asset("bower/handlebars/handlebars.js") }}"></script>
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.animate.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.buttons.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.callbacks.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.confirm.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.desktop.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.history.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.mobile.js") }}"></script>#}
        {#<script src="{{ asset("bower/pnotify/dist/pnotify.nonblock.js") }}"></script>#}
        {#<script src="{{ asset("bower/jquery-ui/jquery-ui.js") }}"></script>#}
        {#<script src="{{ asset("bower/handlebars/handlebars.min.js") }}"></script>#}
        {#<script>#}
            {#$(function () {#}
                {#$("#open-nav").on("click", function(e) {#}
                    {#e.preventDefault();#}
                    {#$("body").toggleClass("nav-open");#}
                {#});#}
{#//                $("nav").click(function(e){#}
{#//                    if (e.target.nodeName != "A") {#}
{#//                        e.preventDefault();#}
{#//                        $("body").toggleClass("nav-open");#}
{#//                    }#}
{#//                });#}
            {#});#}
        {#</script>#}
{% endblock scripts %}
    </body>
</html>
