function getIoServer()
{
    try {
        if (settings === null) {
            setTimeout(function(){
                console.warn("[WARN][IO][Server] Settings vide, en attente");
                getIoServer();
            }, 100);
            return;
        }
        if (!settings.sockets.hasOwnProperty('http') || settings.sockets.http === null) {
            setTimeout(function(){
                console.warn("[WARN][IO][Server] Socket HTTP non prêt, en attente");
                getIoServer();
            }, 100);
            return;
        }
        settings.sockets["ioServer"] = ioServer.listen(settings.sockets.http);
        console.log("[INFO][IO][Server] Socket IO prêt");
        settings.sockets.ioServer.sockets.on("connection", function(socket){
            settings.ioServerClients[socket.id] = {sioId: socket.id};
            
            socket.on("disconnect", function(){
                console.info("[IO][Server] Un utilisateur s'est déconnecté, son id unique est : " + socket.id);
                delete settings.ioServerClients[socket.id];
            });
            socket.on("sioData", function(data){
                data["sioId"] = socket.id;
                settings.ioServerClients[socket.id] = data;
            });
            
            console.info("[IO][Server] Un utilisateur s'est connecté, son id unique est : " + socket.id);
{% for ioEmit in ioEmits %}
            {{ ioEmit | raw }}
{% endfor %}
{% for ioOn in ioOns %}
            {{ ioOn | raw }}
{% endfor %}
            
            {#console.info(settings.ioServerClients);#}
        });
    } catch(e) {
        console.error("[ERROR][IO][Server] " + e);
        getIoServer();
    }
}
