function getSettings()
{
    var getConfigCmd = "{{ phpCliPath | raw }} bin/console nodejs:getconfig";
    exec(getConfigCmd, function (error, stdout, stderr) {
        {#console.log("[INFO][NodeJS][Settings] Récupération de la configuration");#}
        try {
            settings = JSON.parse(stdout);
            {#console.log(settings);#}
        }
        catch (e) {
            console.warn("[WARN][NodeJS][Settings] Erreur lors de la récupération [" + getConfigCmd + "]");
        }
    });
}
