{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_admin_admin_index") }}">{{ "admin.breadcrumb.dashboard" | trans }}</a></li>
{% endblock breadcrumb %}