{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block content %}
    <h2>Réglages</h2>
    {{ form_start(form) }}
        <fieldset>
            <legend>Réglages principaux</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Réglages de l'Administration</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        {{ form_label(form.adminColor) }}
                        <div class="row">
                        {% for choice in form.adminColor.vars.choices %}
                            {% if choice.value == "red" %}{% set bg0, bg1, bg2, bg3, bg4, bg5, bg6, bg7, bg8, bg9 = "#FFEBEE", "#FFCDD2", "#EF9A9A", "#E57373", "#EF5350", "#F44336", "#E53935", "#D32F2F", "#C62828", "#B71C1C" %}
                            {% elseif choice.value == "purple" %}{% set bg0, bg1, bg2, bg3, bg4, bg5, bg6, bg7, bg8, bg9 = "#F3E5F5", "#E1BEE7", "#CE93D8", "#BA68C8", "#AB47BC", "#9C27B0", "#8E24AA", "#7B1FA2", "#6A1B9A", "#4A148C" %}
                            {% else %}{% set bg0, bg1, bg2, bg3, bg4, bg5, bg6, bg7, bg8, bg9 = "#FAFAFA", "#F5F5F5", "#EEEEEE", "#E0E0E0", "#BDBDBD", "#9E9E9E", "#757575", "#616161", "#424242", "#212121" %}
                            {% endif %}
                            <label for="{{ form.adminColor.vars.id ~ "_" ~ choice.value }}" class="col-xs-2 col-sm-4 col-md-4 col-lg-3" style="height: 25px; background: linear-gradient(to right, {{ bg0 }} 0%, {{ bg0 }} 10%, {{ bg1 }} 10%, {{ bg1 }} 20%, {{ bg2 }} 20%, {{ bg2 }} 30%, {{ bg3 }} 30%, {{ bg3 }} 40%, {{ bg4 }} 40%, {{ bg4 }} 50%, {{ bg5 }} 50%, {{ bg5 }} 60%, {{ bg6 }} 60%, {{ bg6 }} 70%, {{ bg7 }} 70%, {{ bg7 }} 80%, {{ bg8 }} 80%, {{ bg8 }} 90%, {{ bg9 }} 90%, {{ bg9 }} 100%);">
                                <input type="radio" id="{{ form.adminColor.vars.id ~ "_" ~ choice.value }}" name="{{ form.adminColor.vars.full_name }}" required="required" value="{{ choice.value }}"{% if choice.value == appconfig.adminColor %} checked="checked"{% endif %}> {{ choice.label }}
                            </label>
                        {% endfor %}
                        {% do form.adminColor.setRendered %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock content %}