{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}Utilisateurs{% endblock contentTitle %}
{% block contentSubTitle %}Gestion des Utilisateurs{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_admin_admin_users") }}"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="hidden-xs"> Utilisateurs</span></a></li>
{% endblock breadcrumb %}

{% block content %}
    <table id="usersTable" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Actif</th>
                <th>Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
{% for user in users  %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isActive == true %}Oui{% else %}Non{% endif %}</td>
                <td>{{ user.createdAt | date("d/m/Y h:i:s") }}</td>
                <td><a href="{{ path("iimedias_admin_admin_userroles", {userId: user.id}) }}" class="btn btn-info"><i class="fa fa-address-card-o" aria-hidden="true"></i> Editer les roles</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}
