{% extends "IiMediasAdminBundle:Admin:users.html.twig" %}

{% block contentTitle %}Rôles{% endblock contentTitle %}
{% block contentSubTitle %}Gestion des rôles de {{ user.username }} #{{ user.id }}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_admin_admin_userroles", {userId: user.id}) }}">{{ user.username }}</a></li>
    <li><a href="{{ path("iimedias_admin_admin_userroles", {userId: user.id}) }}">Rôles</a></li>
{% endblock breadcrumb %}

{% block content %}
{{ form_start(form) }}
    <div class="box">
        <div class="box-body">
            {{ form_widget(form.submit, {attr: {class: "btn btn-info pull-right"}}) }}
        </div>
    </div>
    <div class="row">
{% for fieldsGroup in fieldsGroups %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ fieldsGroup.label }}</h3>
                </div>
                <div class="box-body">
    {% for fieldKey, fieldLabel in fieldsGroup.fields %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {{ form_widget(form[fieldKey]) }}
                            {{ form_label(form[fieldKey], fieldLabel) }}
                        </div>
                    </div>
    {% endfor %}
                </div>
            </div>
        </div>
{% endfor %}
    </div>
{{ form_end(form) }}
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
    $(function(){
        $("#form_ROLE_ROOT").on("click", function(e){
            if ($("#" + $(this).attr("id") + ":checked").length > 0) {
                $("form[name=form] input:checkbox").not(this).prop('checked', this.checked);
                console.log('je suis cliqué ' + $("#" + $(this).attr("id") + ":checked").length);
            }
        });
    });
    </script>
{% endblock scripts %}
