{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block content %}
    <p>Utilisateur: {{ app.user }}</p>
    <form action="{% if loginMode == "admin" %}{{ path("iimedias_admin_security_logincheck_nolocadmin") }}{% else %}{{ path("login_check") }}{% endif %}" method="post">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <label for="username" class="col-xs-4 col-sm-4 control-label">Utilisateur</label>
                    <div class="col-xs-8 col-sm-8">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Utilisateur" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <label for="password" class="col-xs-4 col-sm-4 control-label">Mot de passe</label>
                    <div class="col-xs-8 col-sm-8">
                        <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Se souvenir de moi</label>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="btn-group pull-right">
                    {#<a href="{{ path("ii_admin_registration_register") }}" class="btn btn-default">Inscription</a>#}
                    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Connexion" />
                </div>
            </div>
        </div>
    </form>
{% endblock content %}