@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@transition-time: 300ms;
@menu-size: 280px;
@icon-size: 30px;
@icon-border: 10px;

@mdcgrey50:  #FAFAFA;
@mdcgrey100: #F5F5F5;
@mdcgrey200: #EEEEEE;
@mdcgrey300: #E0E0E0;
@mdcgrey400: #BDBDBD;
@mdcgrey500: #9E9E9E;
@mdcgrey600: #757575;
@mdcgrey700: #616161;
@mdcgrey800: #424242;
@mdcgrey900: #212121;

@mdcblack: #000000;
@mdcwhite: #FFFFFF;

.i-16 {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.i-32 {
  display: inline-block;
  width: 32px;
  height: 32px;
}

body {
  background-color: @mdcgrey100;
  margin: 0px;
  padding: 0px;

  #site-container {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;

    header {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      background-color: @mdcgrey500;
      height: @icon-size + 2 * @icon-border;
      -webkit-overflow-scrolling: touch;
      z-index: 1000000;
      transform: translateX(0px);
      transition: transform @transition-time;

      h1 {
        margin: 0px;
        padding: 5px;
        font-size: @icon-size;
        font-weight: bold;
        color: @mdcwhite;
        text-shadow: 2px 2px 2px @mdcblack;
        text-align: left;

        @media only screen and (min-width: @screen-sm-min) {
          text-align: center;
        }
      }

      .head-menu {
        margin: 0px;
        padding: 0px;

        a {
          color: @mdcwhite;
          margin: 0px;
          padding: 5px;
          text-align: center;
          text-shadow: 1px 1px 2px @mdcblack;

          i.fa {
            width: @icon-size;
            height: @icon-size;
            font-size: @icon-size;

            &.fa-angle-down {
              width: 12px;
              height: 12px;
              font-size: 12px;
            }
          }
        }
      }

      #nav-menu {
        float: left;
      }
      #quick-menu {
        float: right;
      }
    }

    nav {
      position: absolute;
      left: @menu-size * -1;
      top: 0px;
      bottom: 0px;
      -webkit-overflow-scrolling: touch;
      background-color: @mdcgrey900;
      width: @menu-size;
      transform: translateX(0px);
      transition: transform @transition-time;
      z-index: 1000050;

      @media only screen and (min-width: @screen-sm-min) {
        top: @icon-size + 2 * @icon-border;
        left: 0px;
        transform: translateX(@menu-size * -1 + @icon-size + 2 * @icon-border);
      }

      ul.nav {
        margin: 0px;
        padding: 0px;

        li {
          margin: 0px;
          padding: 0px;
          height: @icon-size + 2 * @icon-border;

          a {
            margin: 0px;
            padding: 0px;
            height: @icon-size + 2 * @icon-border;
            text-align: center;
            color: @mdcgrey100;
            background-color: @mdcgrey900;
            border-width: 0px 0px 1px 0px;
            border-style: solid;
            border-color: @mdcgrey800;
            text-shadow: 1px 1px 2px @mdcblack;
            transition: color @transition-time, background-color @transition-time, text-align @transition-time;

            &:hover {
              color: @mdcwhite;
              background-color: @mdcgrey800;
            }

            &.current {
              color: @mdcwhite;
              background-color: @mdcgrey600;
            }

            i.fa {
              margin: @icon-border;
              padding: 0px;
              width: @icon-size;
              height: @icon-size;
              font-size: @icon-size;
              transform: translateX(0px);
              transition: transform @transition-time;
              float: left;

              @media only screen and (min-width: @screen-sm-min) {
                transform: translateX(@menu-size - @icon-size - 2 * @icon-border);
              }
            }
            span {
              display: inline-block;
              padding: 6px 0px 6px 5px;

              @media only screen and (min-width: @screen-sm-min) {
                transform: translateX((@icon-size - 2 * @icon-border) * -1);
              }
            }
          }
        }
      }
    }

    main {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: 0px;
      padding: 0px;
      height: 100%;
      overflow-y: scroll;
      z-index: 1;
      -webkit-overflow-scrolling: touch;
      transform: translateX(0px);
      transition: transform @transition-time, left @transition-time;

      @media only screen and (min-width: @screen-sm-min) {
        left: @icon-size + 2 * @icon-border;
      }

      h2:first-child {
        margin-top: @icon-size + 2 * @icon-border + 10px;
      }
    }
  }

  &.nav-open {
    #site-container {
      header {
        transform: translateX(@menu-size);

        @media only screen and (min-width: @screen-sm-min) {
          transform: translateX(0px);
        }
      }

      nav {
        transform: translateX(@menu-size);

        @media only screen and (min-width: @screen-sm-min) {
          transform: translateX(0px);
        }

        ul.nav {
          li a {
            text-align: left;

            @media only screen and (min-width: @screen-sm-min) {
              i.fa {
                transform: translateX(0px);
              }

              span {
                transform: translateX(0px);
              }
            }
          }
        }
      }

      main {
        transform: translateX(@menu-size);

        @media only screen and (min-width: @screen-sm-min) {
          left: @menu-size;
          transform: translateX(0px);
        }
      }
    }
  }
}
