{% extends "IiMediasAdminBundle:Menu:menu.html.twig" %}

{% block contentTitle %}Element #{{ menuGroup.id }}.{{ menuElement.id }} {{ menuElement.code }}{% endblock contentTitle %}

{% block breadcrumb %}{{ parent() }}<li><a href="{{ path("iimedias_admin_menu_element", {menuId: menuGroup.id, elementId: menuElement.id}) }}">{{ menuElement.code }}</a></li>{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{{ path("iimedias_admin_menu_elementedit", {menuId: menuGroup.id, elementId: menuElement.id}) }}" class="btn btn-warning"><span class="hidden-xs">Editer </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>#ID du Menu</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuGroup.id }}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Nom du menu</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuGroup.name }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>#ID de l'Elément</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuElement.id }}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Code de l'Elément</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuElement.code }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Message</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuElement.message }}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Icône Font Awesome</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9"><i class="fa fa-{{ menuElement.iconFontAwesome }}" aria-hidden="true"></i> {{ menuElement.iconFontAwesome }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Nom de la Route</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuElement.routeName }}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3"><b>Paramètres de la Route</b></div>
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">{{ menuElement.routeParamsJson }}</div>
            </div>
        </div>
    </div>
{% endblock content %}