{% extends (mode == "edit") ? "IiMediasAdminBundle:Menu:menu.html.twig" : "IiMediasAdminBundle:Menu:index.html.twig" %}

{% block contentTitle %}
{% if mode == "edit" %}
    {{ "admin.menus.formmenu.title.edit" | trans({"%groupid%": menuGroup.id, "%groupname%": menuGroup.name}) }}
{% else %}
    {{ "admin.menus.formmenu.title.add" | trans }}
{% endif %}
{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
{% if mode == "edit" %}
    <li><a href="{{ path("iimedias_admin_menu_edit", {menuId: menuGroup.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.menus.formmenu.breadcrumb.edit" | trans }}</span></a></li>
{% else %}
    <li><a href="{{ path("iimedias_admin_menu_create") }}"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.menus.formmenu.breadcrumb.add" | trans }}</span></a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_label(form.name, "admin.menus.formmenu.form.name" | trans, {label_attr: {placeholder: "admin.menus.formmenu.form.name" | trans, class: "col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"}}) }}
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group pull-right">
                <a href="{% if mode == "edit" %}{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}{% else %}{{ path("iimedias_admin_menu_index") }}{% endif %}" class="btn btn-default">{{ "admin.menus.formmenu.form.cancel" | trans }}</a>
                {{ form_widget(form.submit, {label: "admin.menus.formmenu.form.submit" | trans, attr: {class: "btn btn-primary"}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}