{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}{{ "admin.menus.title" | trans }}{% endblock contentTitle %}

{% block breadcrumb %}{{ parent() }}<li><a href="{{ path("iimedias_admin_menu_index") }}"><i class="fa fa-bars" aria-hidden="true"></i><span class="hidden-xs"> {{ "admin.menus.breadcrumb" | trans }}</span></a></li>{% endblock breadcrumb %}

{% block content %}
    <div class="btn-group pull-right">
        <a href="{{ path("iimedias_admin_menu_create") }}" class="btn btn-success"><span class="hidden-xs">{{ "admin.menus.index.actions.add" | trans }} </span><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "admin.menus.index.table.head.id" | trans }}</th>
                <th>{{ "admin.menus.index.table.head.name" | trans }}</th>
                <th>{{ "admin.menus.index.table.head.actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
{% for menuGroup in menuGroups %}
            <tr>
                <td>{{ menuGroup.id }}</td>
                <td><a href="{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}">{{ menuGroup.name }}</a></td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}" class="btn btn-primary"><span class="hidden-xs">{{ "admin.menus.index.table.body.actions.view" | trans }} </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_admin_menu_edit", {menuId: menuGroup.id}) }}" class="btn btn-warning"><span class="hidden-xs">{{ "admin.menus.index.table.body.actions.edit" | trans }} </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}