{% extends "IiMediasAdminBundle:Menu:index.html.twig" %}

{% block contentTitle %}{{ "admin.menus.group.title" | trans({groupid: menuGroup.id, groupname: menuGroup.name}) }}{% endblock contentTitle %}

{% block breadcrumb %}{{ parent() }}<li><a href="{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}">{{ menuGroup.name }}</a></li>{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-default disabled"><b>{{ "admin.menus.group.actions.group.title" | trans }}</b></a>
                    <a href="{{ path("iimedias_admin_menu_edit", {menuId: menuGroup.id}) }}" class="btn btn-warning"><span class="hidden-xs">{{ "admin.menus.group.actions.group.edit" | trans }} </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{{ path("iimedias_admin_menu_organize", {menuId: menuGroup.id}) }}" class="btn btn-info"><span class="hidden-xs">{{ "admin.menus.group.actions.group.organize" | trans }} </span><i class="fa fa-exchange" aria-hidden="true"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-default disabled"><b>{{ "admin.menus.group.actions.element.title" | trans }} :</b></a>
                    <a href="{{ path("iimedias_admin_menu_elementcreate", {menuId: menuGroup.id}) }}" class="btn btn-success"><span class="hidden-xs">{{ "admin.menus.group.actions.element.add" | trans }} </span><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden-xs">{{ "admin.menus.group.table.head.id" | trans }}</th>
                <th>{{ "admin.menus.group.table.head.code" | trans }}</th>
                <th class="hidden-xs">{{ "admin.menus.group.table.head.message" | trans }}</th>
                <th class="hidden-xs">{{ "admin.menus.group.table.head.icon" | trans }}</th>
                <th class="hidden-xs">{{ "admin.menus.group.table.head.route" | trans }}</th>
                <th class="hidden-xs">{{ "admin.menus.group.table.head.position" | trans }}</th>
                <th>{{ "admin.menus.group.table.head.actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
{% for menuElement in menuGroup.config %}
            <tr>
                <td class="hidden-xs">{{ menuElement.id }}</td>
                <td>
                    <span class="visible-xs">{% if menuElement.iconFontAwesome | length > 0 %}<i class="fa fa-{{ menuElement.iconFontAwesome }}" aria-hidden="true"></i>{% endif %} </span>
                    {{ menuElement.code }}
                    <span class="visible-xs">({{ menuElement.position }})</span>
                </td>
                <td class="hidden-xs">{{ menuElement.message }}</td>
                <td class="hidden-xs">{% if menuElement.iconFontAwesome | length > 0 %}<i class="fa fa-{{ menuElement.iconFontAwesome }}" aria-hidden="true"></i>{% endif %}</td>
                <td class="hidden-xs">
                    {{ menuElement.routeName }} /
                    [
{% for keyParam, valueParam in menuElement.routeParams %}
                        {{ keyParam }}: {{ valueParam }}{% if not loop.last %},{% endif %}
{% endfor %}
                    ]
                </td>
                <td class="hidden-xs">{{ menuElement.position }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a href="{{ path("iimedias_admin_menu_element", {menuId: menuGroup.id, elementId: menuElement.id}) }}" class="btn btn-primary"><span class="hidden-xs">{{ "admin.menus.group.table.body.actions.view" | trans }} </span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_admin_menu_elementedit", {menuId: menuGroup.id, elementId: menuElement.id}) }}" class="btn btn-warning hidden-xs"><span class="hidden-xs">{{ "admin.menus.group.table.body.actions.edit" | trans }} </span><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_admin_menu_up", {menuId: menuGroup.id, elementId: menuElement.id}) }}" class="btn btn-info{% if loop.first %} disabled{% endif %}"><span class="hidden-xs">{{ "admin.menus.group.table.body.actions.up" | trans }} </span><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                        <a href="{{ path("iimedias_admin_menu_down", {menuId: menuGroup.id, elementId: menuElement.id}) }}" class="btn btn-info{% if loop.last %} disabled{% endif %}"><span class="hidden-xs">{{ "admin.menus.group.table.body.actions.down" | trans }} </span><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock content %}