{% extends "IiMediasAdminBundle:Menu:menu.html.twig" %}

{% block contentTitle %}Organisation du Menu #{{ menuGroup.id }} {{ menuGroup.name }}{% endblock contentTitle %}

{% block breadcrumb %}{{ parent() }}<li><a href="{{ path("iimedias_admin_menu_organize", {menuId: menuGroup.id}) }}"><i class="fa fa-exchange" aria-hidden="true"></i><span class="hidden-xs"> Organisation</span></a></li>{% endblock breadcrumb %}

{% block content %}
    <form action="{{ path("iimedias_admin_menu_organize", {menuId: menuGroup.id}) }}" method="POST">
        <ul id="menuElementsSortable">
{% for menuElement in menuGroup.config %}
            <li>
                <input type="hidden" name="menu_organize[]" value="{{ menuElement.code }}" />
                <i class="fa fa-{{ menuElement.iconFontAwesome }}" aria-hidden="true"></i> {{ menuElement.code }} [#{{ menuElement.id }}]
            </li>
{% endfor %}
        </ul>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group pull-right">
                    <a href="{{ path("iimedias_admin_menu_menu", {menuId: menuGroup.id}) }}" class="btn btn-default">Annuler</a>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
                $("#menuElementsSortable").sortable();
                $("#menuElementsSortable").disableSelection();
        });
    </script>
{% endblock scripts %}